.vs/Assignment 1/v17/ipch/AutoPCH
.vs/Assignment 1/v17/Browse.VC.db
.vs/Assignment 1/v17/DocumentLayout.json
.vs/Assignment 1/v17/Solution.VC.db
.vs/Assignment 1/FileContentIndex
Assignment 1/bin
Assignment 1/intermediate
Assignment 1/Debug
Assignment 1/Release
.vs/Assignment 1/v17/DocumentLayout.backup.json
.vs/Assignment 1/v17/Browse.VC.db-shm
